@font-face {
	font-family: 'Open Sans';
	src: url("OpenSans-Light.eot");
	src: url("OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("OpenSans-Light.woff2") format("woff2"), url("OpenSans-Light.woff") format("woff"), url("OpenSans-Light.ttf") format("truetype"), url("OpenSans-Light.svg?#Light") format("svg"), local("");
	font-weight: 300;
	font-style: normal; 
}

@font-face {
	font-family: 'Open Sans';
	src: url("OpenSans-LightItalic.eot");
	src: url("OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("OpenSans-LightItalic.woff2") format("woff2"), url("OpenSans-LightItalic.woff") format("woff"), url("OpenSans-LightItalic.ttf") format("truetype"), url("OpenSans-LightItalic.svg?#LightItalic") format("svg"), local("");
	font-weight: 300;
	font-style: italic; 
}

@font-face {
	font-family: 'Open Sans';
	src: url("OpenSans-Regular.eot");
	src: url("OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff"), url("OpenSans-Regular.ttf") format("truetype"), url("OpenSans-Regular.svg?#Regular") format("svg"), local("");
	font-weight: normal;
	font-style: normal; 
}

@font-face {
	font-family: 'Open Sans';
	src: url("OpenSans-Italic.eot");
	src: url("OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("OpenSans-Italic.woff2") format("woff2"), url("OpenSans-Italic.woff") format("woff"), url("OpenSans-Italic.ttf") format("truetype"), url("OpenSans-Italic.svg?#Italic") format("svg"), local("");
	font-weight: normal;
	font-style: italic; 
}

